<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Личный кабинет</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/examples/cover/cover.css">
    </head>
    <body class="d-flex h-100 text-center text-bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">Go</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Главная</a>
                        <a class="nav-link fw-bold py-1 px-0" href="/contacts/">Контакты</a>
                        <a class="nav-link fw-bold py-1 px-0" href="#">О нас</a>
                    </nav>
                </div>
            </header>
            <main class="px-3">
                <h1>Личный кабинет</h1>
                {{ if eq .Name "Go" }}
                <p class="lead">Добро пожаловать {{ .Name }}</p>
                {{ else }}
                <p class="lead">Авторизация</p>
                {{ end }}
                {{ range .Hobbies }}
                <p class="lead"><strong>{{ . }}</strong></p>
                {{ else }}
                <p class="lead">Нет записей</p>
                {{ end }}
                <h3>Кешбек</h3>
                <p class="lead">Пользователь: {{ .Name }}</p>
                <p class="lead">Баланс: {{ .Balance }}</p>
                <p class="lead">Счастье: {{ .Happiness }}</p>
            </main>
            <footer class="mt-auto text-white-50">
                <p>Copyright <a href="#" class="text-white">2025</a>, by <a href="#" class="text-white">tsbv</a>.</p>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    </body>
</html>